# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
venv/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Gradle
.gradle
build/

# Finder
.DS_Store

# IntelliJ.
*.iml
.idea/
out/

# Eclipse.
.project
.classpath
.settings
.cache
bin/

target/

# Local/non-default configuration
application.conf

divolte-collector-*
flask_secret

# Maven
dependency-reduced-pom.xml
pom.xml.versionsBackup

# Elasticsearch externalized data directory
elastic/data