version: "3.3"
services:
  # redis container
  toppick-redis:
    image: redis:alpine
    container_name: toppick-redis
    hostname: toppick-redis
    domainname: divolte_divolte.io
    ports:
      - 6379:6379 # redis server
    networks:
      - divolte.io
  # elastic container
  elastic:
    image: docker.elastic.co/elasticsearch/elasticsearch:6.4.0
    container_name: elastic
    hostname: elastic
    domainname: divolte_divolte.io
    environment:
      - cluster.name=elasticsearch
      - discovery.type=single-node
      - xpack.security.enabled=false
      - network.bind_host=0.0.0.0
      - network.publish_host=elastic
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ports:
      - 9200:9200
      - 9300:9300
    networks:
      - divolte.io
  # kibana container
  kibana:
    image: docker.elastic.co/kibana/kibana:6.4.0
    container_name: kibana
    hostname: kibana
    domainname: divolte_divolte.io
    environment:
      SERVER_NAME: kibana.divolte_divolte.io
      ELASTICSEARCH_URL: http://elastic:9200
      LOGGING_QUIET: "true"
    ports:
      - 5601:5601
    depends_on:
      - elastic
    links:
      - elastic:elastic
    networks:
      - divolte.io
  # Kafka/Zookeeper container
  kafka:
    image: krisgeus/docker-kafka
    container_name: kafka
    hostname: kafka
    domainname: divolte_divolte.io
    environment:
      ADVERTISED_HOST: kafka
      LOG_RETENTION_HOURS: 1
      AUTO_CREATE_TOPICS: "false"
      KAFKA_CREATE_TOPICS: divolte:4:1
      ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,INTERNAL://localhost:9093
      LISTENERS: PLAINTEXT://0.0.0.0:9092,INTERNAL://0.0.0.0:9093
      SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,INTERNAL:PLAINTEXT
      INTER_BROKER: INTERNAL
    ports:
      - 9092:9092 # kafka broker
      - 2181:2181 # Zookeeper
    networks:
      - divolte.io
  # divolte clickstream collector
  clickstream-collector:
    build:
      context: ./divolte
    container_name: clickstream-collector
    hostname: clickstream-collector
    domainname: divolte_divolte.io
    environment:
      DIVOLTE_KAFKA_BROKER_LIST: kafka:9092
      DIVOLTE_CONF_DIR: /etc/shop/divolte
      DIVOLTE_HDFS_ENABLED: "true"
      DIVOLTE_HDFS_SINK_WORKING_DIR: /tmp/processing
      DIVOLTE_HDFS_SINK_PUBLISH_DIR: /tmp/finished
    ports:
      - 8290:8290
    depends_on:
      - kafka
    links:
      - kafka:kafka
    networks:
      - divolte.io
  # divolte shop API for communication with Elastic
  shop-api:
    build:
      context: ./service
    container_name: shop-api
    hostname: shop-api
    domainname: divolte_divolte.io
    environment:
      ELASTICSEARCH_HOSTS: "[\"elastic\"]"
      ELASTICSEARCH_CLUSTER_NAME: elasticsearch
      JAVA_OPTS: "-Xms512m -Xmx512m"
    ports:
      - 8080:8080
      - 8081:8081
    depends_on:
      - clickstream-collector
      - elastic
    links:
      - clickstream-collector:clickstream-collector
      - elastic:elastic
    networks:
      - divolte.io
  # Divolte shop top-pick consumer
  toppick-consumer:
    build:
      context: ./top-pick-service
      dockerfile: Dockerfile.consumer
    container_name: toppick-consumer
    hostname: toppick-consumer
    domainname: divolte_divolte.io
    environment:
      REDIS_HOST_PORT: "toppick-redis:6379"
      KAFKA_BROKERS: "kafka:9092"
      KAFKA_TOPIC: divolte
      ELASTIC_HOST_PORT: "elastic:9200"
    depends_on:
      - toppick-redis
      - kafka
      - elastic
    links:
      - toppick-redis:toppick-redis
      - kafka:kafka
      - elastic:elastic
    networks:
      - divolte.io
  # Divolte shop top-pick bandit
  toppick-bandit:
    build:
      context: ./top-pick-service
      dockerfile: Dockerfile.bandit
    container_name: toppick-bandit
    hostname: toppick-bandit
    domainname: divolte_divolte.io
    environment:
      REDIS_HOST_PORT: "toppick-redis:6379"
      BIND_PORT: 8989
      BIND_HOST: 0.0.0.0
    ports:
      - 8989:8989
    depends_on:
      - toppick-redis
    links:
      - toppick-redis:toppick-redis
    networks:
      - divolte.io
  # container serving the webshop
  shop-webapp:
    build:
      context: ./webapp
    container_name: shop-webapp
    hostname: shop-webapp
    domainname: divolte_divolte.io
    environment:
      SHOP_API_URL: "http://shop-api:8080/api"
      SHOP_BANDIT_URL: "http://toppick-bandit:8989/item"
      SHOP_DIVOLTE_URL: "//localhost:8290/divolte.js"
      SHOP_WEBAPP_SECRET: "foo"
      SHOP_WEBAPP_PORT: 9011
    ports:
      - 9011:9011
    depends_on:
      - clickstream-collector
      - toppick-bandit
      - shop-api
    links:
      - clickstream-collector:clickstream-collector
      - toppick-bandit:toppick-bandit
      - shop-api:shop-api
    networks:
      - divolte.io
  # spark container analyzing the clickstream
  clickstream-analyzer:
    build:
      context: ./spark-container
    container_name: clickstream-analyzer
    hostname: clickstream-analyzer
    environment:
      KAFKA_BROKERS: "kafka:9092"
      KAFKA_TOPIC: "divolte"
      SPARK_JOB_CLASS: "sparkjob.SparkEventsPerMinute"
    ports:
      - 7077:7077 # spark master
      - 4040:4040 # spark web UI
      - 18080:18080 # history server
    depends_on:
      - kafka
    links:
      - kafka:kafka
    networks:
      - divolte.io
  # divolte-druid:
  #   # image: fokkodriesprong/docker-druid
  #   image: shop/divolte-druid
  #   container_name: divolte-druid
  #   hostname: divolte-druid
  #   domainname: divolte_divolte.io
  #   volumes:
  #     - /tmp/mysqldivoltedata:/var/lib/mysql
  #   ports:
  #     - 8981:8081
  #   depends_on:
  #     - kafka
  #   links:
  #     - kafka:kafka
  #   networks:
  #     - divolte.io
networks:
  divolte.io:
    driver: bridge
