<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="basketModal" aria-hidden="true" id="basket-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Item added to basket!</h4>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Continue shopping&hellip;</button>
        <a class="btn btn-success" role="button" href="/basket/">Take me to checkout!</a>
      </div>
    </div>
  </div>
</div>

<script>
  function addToBasket(id) {
    $.post('/basket/', { action: 'add', item_id: id }, function() {
      $('#basket-modal').modal('show')
      divolte.signal('addToBasket', { item_id: id })
    }).fail(function() {
      alert('BROKEN!')
    })
  }
</script>
